*{
    font-family: sans-serif;
}
.input{
    width: 500px;
}
.form-control{
    border-radius: 20px;
    background: rgb(236, 229, 229);
}
.qpick{
    font-weight: 600;
}

.card{
    width: 380px;
    border-radius: 50px;
    border: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.like{
    background-color: white;
    border: none;
}
.like:hover{
    color: #999;
}
.product-image{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 370px;
    object-fit: cover;
}


